<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link href="{% static 'css/bootstrap.min.css' %}" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
    <title>Reserva realizada</title>
</head>
<body>
    {% load static %}
    <div class="container">
        <h2>Reserva realizada con exito!</h2>
        <div class="container">
            <table class="table">
                <thead>
                    <tr>
                        <th>Numero de transfer</th>
                        <th>Cant. asientos</th>
                        <th>Hora de salida</th>
                        <th>Patente</th>
                        <th>Nombre de Chofer</th>
                        <th>Nombre de la reserva</th>
                        <th>Rut/Pasaporte de la reserva</th>
                    </tr>
                </thead>
                <tbody>
                    {% for t in transfers %}
                    <tr>
                        <td>{{ t.numero }}</td>
                        <td>{{ t.asiento }}</td>
                        <td>{{ t.hora }}</td>
                        <td>{{ t.patente }}</td>
                        <td>{{ t.nombreChofer }}</td>
                    {% endfor %}
                    {% for cl in clientes %}
                        <td>{{ cl.nombre }}</td>
                        <td>{{ cl.rut }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <td><a href="#" class="btn btn-primary">Imprimir comprobante</a></td>
        <td><a href="{% url 'home' %}" class="btn btn-danger">Cancelar Viaje</a></td>
        <td><a href="{% url 'home' %}" class="btn btn-primary">Volver</a></td>
    </div>
</body>
</html>